* {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg-primary: #27548A;
    --bg-secondary: #183B4E;
}
.wrapper-full-page{ 
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 95% 5%;
    grid-template-areas: 
    "menu content"
    "footer footer";
    height: 100vh;
    width: 100vw;
    background-color: #E5E5E5;
}

.wrapper-list{
    width: 100%;
}

#wrapper-menu {
    grid-area: "menu";
    background-color: var(--bg-primary);
}

.wrapper-content{
    grid-area: content;
    padding-left: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wrapper-form{
    height: 100%;
    border-radius: 8px;
    padding: 2rem;
    overflow: auto;
}

.wrapper-content-title{
    height: 8%;
    border-radius: 8px;
    background-color: var(--bg-primary);
}


.wrapper-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--bg-secondary);
    margin-top: 4px;
}